.home-section {
  text-align: center;
}

.home-title {
  margin: 47px 0 22px 0;
  font-weight: 700;
  font-size: 45px;
}

.home-subtitle {
  font-weight: 500;
  font-size: 18px;
  margin-bottom: 35px;
}

.home-img {
  max-width: 100%;
  height: 535px;
  object-fit: cover;
}

@media (max-width: 400px) {
  .home-section {
    text-align: left;
  }

  .home-title {
    font-size: 32px;
    max-width: 250px;
  }

  .home-subtitle {
    font-size: 14px;
  }

  .home-img {
    max-width: 100%;
    height: 535px;
    object-fit: cover;
  }
}
