.burger-meny {
  display: none;
  position: absolute;
  top: 55px;
  right: 20px;
}

.open-icon {
  width: 33px;
  height: 20px;
  cursor: pointer;
}

.toggler {
  display: none;
}

.nav-mobile {
  border-left: 5px solid var(--text-accent-color);
  height: 100lh;
  position: fixed;
  inset: 0;
  background-color: var(--bg-color);
  visibility: hidden;
  translate: 100% 0;
  transition: all 0.3s;
}

.toggler:checked + .nav-mobile {
  visibility: visible;
  translate: 0 0;
}
.nav-list-mobile {
  display: flex;
  flex-direction: column;
  gap: 68px;
  margin: 66px auto 0 26px;
}

.nav-listitem-mobile {
  font-weight: 700;
  font-size: 34px;
}

.close-icon {
  position: absolute;
  width: 23px;
  height: 23px;
  cursor: pointer;
  top: 70px;
  right: 40px;
}

@media (max-width: 400px) {
  .burger-meny {
    display: flex;
  }
}
