.portfolio {
  display: flex;
  padding-top: 1px;
  padding-bottom: 1px;
  text-align: center;
  background-color: var(--accent-bg-color);
}

.portfolio-title {
  margin: 80px 0 76px 0;
  font-weight: 700;
  font-size: 34px;
}
.portfolio-text {
  margin: 40px 0 95px 0;
  font-weight: 500;
  font-size: 18px;
}

.portfolio-img {
  max-width: 950px;

  width: 100%;
}

@media (max-width: 400px) {
  .portfolio-title {
    margin: 41px 0 50px 0;
  }
  .portfolio-text {
    margin: 30px 0 50px 0;
    font-size: 14px;
  }
}
