@import url("variables.css");
@import url("reset.css");
@import url("basics.css");
@import url("header.css");
@import url("home.css");
@import url("about.css");
@import url("history.css");
@import url("footer.css");
@import url("portfolio.css");
@import url("contacts.css");
